@import './../../variables.scss';

.aside-nav {
    width: 100%;
    position: sticky;
    top: 0px;
    right: 0px;
    height: 100vh;
    overflow: scroll;
    background-color: $fourth-color;
    color: $primary-text-color;

    .transparent {
        @include transparent;
    }
}

//for the x button
.aside-nav {
    .x-line {
        min-width: $l;
        height: $xxl;
        margin-bottom: 3px;
        margin-left: 66vw;
        align-items: center;
        justify-content: center;
    
        div {
            min-width: 27px;
            height: 1px;
            background-color: $third-color;
            position: absolute;
        }
    }  
    
    .x-line-one {
        transform: rotate(45deg)
    }
    
    .x-line-two {
        transform: rotate(-45deg)
    }
}

//the aside grid
.aside-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 270px 250px 130px;
}

.aside-flex-column {
    @include display-flex-column-nowrap;
    align-items: flex-start;
    justify-content: center;
    font-size: $m;
    font-family: $primary-font-family;
    min-width: 90%;
    white-space: nowrap;
    
    li {
        min-width: 100%;
    }
    .aside-item-boarder {
        border-top: $aside-boarder;
        min-width: 100%;
    }
    ul, p {
        @include display-flex-column-nowrap;
        align-items: flex-start;
        justify-content: center;
        font-size: 19px;
        font-family: $primary-font-family;
        min-width: 73vw;
    }
    p {
        padding: 7px 0;
        position: relative;
        span {
            position: absolute;
            right: 1vw;
            font-size: $s;
        }
    }
    .aside-header {
        border-top: $aside-boarder;
        padding-top: 14px;
        color: $secondary-color;
        font-weight: 900;
    }
    ul > li > div > ul > li{
        font-size: 17px;
        display: flex;
        padding: 7px $xs;
    }
    ul > li > div > ul {
        // height: 0px;
        // overflow: hidden;
    }
    .aside-account-buttons-parent {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding-top: $xs;
        min-width: 73vw;

        .blue-button {
            padding: 7px;
            background-color: $secondary-color;
            margin-bottom: $xxs;
            font-size: $s;
        }
        .blue-button:active {
            background-color: $blue-highlight;
        }
        button {
            color: $third-color;
            position: relative;
            margin-top: $xxs;
            outline-color: transparent;
            font-size: 14px;
            color: $primary-text-color;
            display: flex;
            outline-color: $third-color;
            font-size: 17px;
    
            div {
                border-top: none;
            }
            .carrots-forward {
                font-size: $xs;
                padding: 4px;
                padding-left: 4px;
            }
        }
    }
    button:active {
        background-color: $blue-highlight;
    }
    .nav-new-item{
        flex-direction: row;
        .nav-new-item-span {
            margin-right: auto;
            position: static;
            font-size: 19px;
            padding-left: 4px;
            color: $orange-highlight;
        }
    }
}

.aside-flex-row {
    @include display-flex-row-nowrap;
    justify-content: center;
    align-items: flex-start;
}