@import './../../variables.scss';

.aside-nav {
    width: 100%;
    position: sticky;
    top: 0px;
    right: 0px;
    height: 100vh;
    overflow: scroll;
    background-color: $fourth-color;
    color: $primary-text-color;

    .transparent {
        @include transparent;
    }

    .aside-flex-column {
        @include display-flex-column-nowrap;
        align-items: flex-start;
        justify-content: center;
        font-size: $m;
        font-family: $primary-font-family;
        min-width: 90%;
        white-space: nowrap;
        
    }
}

//for the x button
.aside-nav {
    .x-line {
        min-width: $l;
        height: $xxl;
        position: absolute;
        top: 4px;
        right: 4px;
        align-items: center;
        justify-content: center;
        outline-color: $third-color;
    
        div {
            min-width: 29px;
            height: 1px;
            background-color: $third-color;
            position: absolute;
        }
    }

    .x-line:active {
        background-color: $blue-highlight;
    }
    
    .x-line-one {
        transform: rotate(45deg)
    }
    
    .x-line-two {
        transform: rotate(-45deg)
    }
}

//for the content of the aside
.aside-content-parent {
    position: absolute;
    top: 40px;
    width: 100%;
    color: $primary-text-color;
    
    .aside-content-single {
        border-top: $aside-border;
        
        h1 {
            width: 100%;
            font-size: 19px;
            justify-content: flex-start;
            padding: 7px 0px;
            
            span {
                position: absolute;
                font-size: $s;
                right: 6px;
                top: 7px;
                transform: rotate(0deg);
                font-weight: 900;
                transition: all 200ms linear;
            }
        }

        div {
            height: 0px;
            overflow: hidden;
            transition: all 400ms linear;

            h2 {
                display: flex;
                justify-content: flex-start;
                padding: 7px;
                width: 100%;
                font-size: 17px;
            }
        }
    }
}

.aside-news-h2s {
    height: 375px !important;
    transition: all 200ms linear !important;
}

.rotate90 {
    transform: rotate(90deg) !important;
    transition: all 200ms linear;
}

//the aside grid
.aside-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 270px 250px 130px;
}

//flex-row
.aside-flex-row {
    @include display-flex-row-nowrap;
    justify-content: center;
    align-items: flex-start;
}