@import './../../variables.scss';

.HeaderNav {
    background-color: $primary-color;
    height: 40px;
    color: $primary-text-color;
    font-family: $primary-font-family;
    padding: 0 $vs;
}

.flex-row {
    @include display-flex-row();
}

.flex-column {
    @include display-flex-column();
}

.navName {
    font-size: 30px;
    text-decoration: none;
    color: $primary-text-color
}

.navWeather {
    margin-right: $vs;
}

.navMenuButton {
    color: $primary-text-color;
    font-size: 22px;
}

.navMenuWords {
    font-size: 7.5px;
}

.SubNav {
    font-size: 60px;
    padding: 0 $vs;
    background-color: $primary-color;
    color: $primary-text-color;
    height: 0px;
    transition:height 200ms ease-in;
    overflow: hidden;
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 1;
}

.SubNavExpand {
    height: 105px;
}

.headerProfilePicParent {
    width: 100vw;
    height: 75px;
    font-size: 20px;
}

.headerProfilePic {
    height: 75px;
    border-radius: 100%;
}

.navProfileStatus {
    position: absolute;
    font-size: 25px;
    right: 8px;
    bottom: 5px;
}

.headerProfilePicParentOut {
    font-size: 20px;
    width: 100vw;
}

.headerLogin, .headerRegister {
    margin-right: $vs;
    padding: $vs;
    border-radius: 5px;
    background-color: $third-color;
}

.mailIcon {
    margin-left: 20px;
    font-size: 30px;
}

.usernameHeader {
    margin-right: $vs;
    font-size: 8px;
}

.cogIcon {
    margin-right: $vs;
    font-size: 30px;
}

.SubNavCog {
    height: 0px;
    width: 75px;
    background-color: $fourth-color;
    transition:height 0ms ease-in;
    overflow: hidden;
    position: absolute;
    top: 110px;
    right: 95px;
    z-index: 2;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.childSubNavCog{
    padding: 0 $vs $vs 0;
}

.SubNavCogExpand {
    height: 55px;
    transition:height 200ms ease-in;
    border: solid #AAAAAA 1px
}