@import './../../variables.scss';

.header-parent-top {
    position: fixed;
    left: 0;
    z-index: 90;
    width: 100%;
    // height: 100vh;

    .rickRollRed {
        color: $dark-error !important;
    }
}

.header-nav {
    background-color: $primary-color;
    height: 40px;
    color: $primary-text-color;
    font-family: $primary-font-family;
    width: 100%;
    height: 40px;

    .transparent {
        @include transparent();
    }
}

//dealing with the name
.header-nav {
    .nav-name {
        font-size: $xl;
        text-decoration: none;
        color: $primary-text-color;
        // color: red;
        letter-spacing: -1px;
        height: 100%;
    }

    .flex-row {
        @include display-flex-row-nowrap;
    }

    .center {
        @include flex-items-center;
    }

    .low-weight {
        font-weight: 500;
    }

    .high-weight {
        font-weight: 900;
    }
    
    //The dot in the name
    .nav-name-dot {
        height: 10px;
        width: 10px;
        z-index: 10;
        div {
            position: absolute;
            bottom: -10px;
            left: -1px;
            height: 14px;
            width: 14px;
            background-color: $primary-text-color;
            border-radius: 100%;
            border-style: solid;
            border-width: 3px;
            border-color: $primary-color;
        }
    }
}

//dealing with the weather icon
.header-nav {
    .weather-icon-parent {
        margin-left: auto;
    }

    .nav-weather-icon {
        width: $xl;
    }

    .center-all {
        @include flex-items-center;
        justify-content: center;
        align-content: center;
    }
}

//this is the temperature
.header-nav {
    .weather-temp {
        margin: 0 $xs;
    }
}

//this is the search item
.nav-search {
    margin: 0 $s 0 $xxs;
    width: 24px;
    height: 24px;
    .search-circle {
        width: 17px;
        height: 17px;
        border: 2px solid $primary-text-color;
        border-radius: 100%;
    }

    .search-line {
        position: absolute;
        top: 18px;
        right: -2px;
        width: 14px;
        border: 1px solid $primary-text-color;
        border-radius: 2px;
        transform: rotate(45deg);
    }
}

//dealing with the menu button
.header-nav {
    .nav-menu-button {
        outline-color: $third-color;
    }

    .nav-menu-button:active {
        background-color: $blue-highlight;
    }
    
    .menu-bars {
        width: 24px;
        height: 2px;
        background-color: $primary-text-color;
        margin: 3px 0px;
        border-radius: 3px;
    }

    .nav-menu-bars-word {
        font-size: 8px;
        color: $primary-text-color;
    }
}

.header-grid {
    display: grid;
    grid-template-columns:  2% 53% 43% 0% 0% 2%;
    grid-template-rows: 40px;

    .news-nav-bar {
        display: none;
    }

    .marketplace-nav-bar {
        display: none;
    }
}

.weather-overlay-slid {
    margin-top: -325px !important;
    
    .prevent-click-on-other-content {
        width: 0px !important;
        height: 0px !important;
    }
}

//dealing with the handling of clicking on the weather
#weather-overlay {
    position: fixed;
    background: $fourth-color;
    top: 0px;
    right: 0px;
    width: 272px;
    z-index: 100;
    padding: $m;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0px;
    z-index: 100;
    transition: all 200ms linear;

    .prevent-click-on-other-content {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .weather-overlay-content {
        z-index: 100;
    }

    .selected-location {
        display: flex;
        font-size: 17px;
        margin-bottom: $xs;
    }
    
    ul {
        padding-bottom: $xxs;
        margin-bottom: $xs;
        border-bottom: 1px solid $third-color;
        height: 0px;
        overflow: hidden;
        transition: all 200ms linear;

        li {
            margin: $xs;
        }
    }

    .expand-select-city {
        height: 146px;
    }

    .weather-forecast-expanded {
        display: grid;

        .forecast-large-weather {
            grid-area: lw;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
        .forecast-large-temp {
            grid-area: lt;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            font-size: 36px;
        }
        .forecast-time-a {
            grid-area: ta;
        }
        .forecast-img-a {
            grid-area: ia;
            height: 37.11px;
            position: absolute;
            top: -7px;
        }
        .forecast-temp-a {
            grid-area: tea;
        }
        .forecast-time-b {
            grid-area: tb;
        }
        .forecast-img-b {
            grid-area: ib;
            height: 37.11px;
            position: absolute;
            top: -7px;
        }
        .forecast-temp-b {
            grid-area: teb;
        }
        .forecast-time-c {
            grid-area: tc;
        }
        .forecast-img-c {
            grid-area: ic;
            height: 37.11px;
            position: absolute;
            top: -7px;
        }
        .forecast-temp-c {
            grid-area: tec;
        }
        .forecast-humidity {
            grid-area: h;
        }
        .forecast-info {
            grid-area: i;
        }
        .forecast-button {
            grid-area: b;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            button {
                margin: 4px;
                @include standard-button;
            }
        }

        grid-template-columns: 25% 25% 17% 16% 16%;
        grid-template-rows: 22px 22px 22px 22px 22px;
        grid-template-areas:
            "lw lt ta ia tea"
            "lw lt tb ib teb"
            "lw lt tc ic tec"
            "h h b b b"
            "i i b b b";
    }
}

.header-parent-top {
    .header-nav {
        .marketplace-nav-bar {
            .login-icon {
            margin: $xxs;
                .login-icon-body {
                    position: absolute;
                    top: -8px;
                    width: 20px;
                    height: 15px;
                    border: 2px solid $primary-text-color;
                    border-radius: 6px 6px 0px 0px;
                }
                .login-icon-head {
                    position: absolute;
                    bottom: 7px;
                    left: 2.5px;
                    width: 13px;
                    height: 13px;
                    border: 2px solid $primary-text-color;
                    border-radius: 100%;
                }
            }

            .nav-search {
                margin: $xxs;
                width: 24px;
                height: 24px;
                .search-circle {
                    position: absolute;
                    top: -5px;
                    width: 19px;
                    height: 19px;
                    border: 2px solid $primary-text-color;
                    border-radius: 100%;
                }
            
                .search-line {
                    position: absolute;
                    top: 14px;
                    right: -2px;
                    width: 14px;
                    border: 1px solid $primary-text-color;
                    border-radius: 2px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

@media (min-width: 960px) {
    .nav-name {
        margin-left: auto;
    }

    .header-nav {
        height: 80px;
    }

    .header-grid {
        display: grid;
        grid-template-columns:  2% 14% 48% 34% 0% 2%;
        grid-template-rows: 80px;
    }

    .nav-circle-nsl {
        div {
            width: 70px;
            height: 70px;
            position: absolute;
            top: -35px;
            left: -65px;
            border: 3px solid $primary-text-color;
            border-radius: 100%;
        }
    }

    .news-nav-bar {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;

        h2 {
            padding: $xxs;
            font-size: 12px;
        }
    }

    .marketplace-nav-bar {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;

        h2 {
            padding: $xxs;
            font-size: 12px;
        }
    }

    .smaller-nav-bar-top {
        display: none !important;
    }
}