@import './../../../variables.scss';

.article-component {
    margin-top: 40px;
    padding: $xs;
    font-family: $primary-font-family;
    text-align: left;
    display: grid;

    a {
        text-decoration: none;
        color: black;
    }

    img {
        width: 100%;
        margin-bottom: $xs;
    }

    h1 {
        font-size: $l;
        font-weight: bold;
        margin-bottom: $m;
    }

    .sub-header-article {
        margin: $xs 0;
        padding-bottom: $m;
        border-bottom: 2px solid $light-box;

        h2 {
            font-size: 13px;
            display: inline
        }
    }

    p {
        font-size: 18px;
        border-bottom: 2px solid $light-box;
        margin: $xs 0;
        padding: $xs 0;
    }
}