$primary-color: #0b162f;
$secondary-color: #5b92f4;
$third-color: #959595;
$fourth-color: #555;
$fifth-color: #363636;
$sixth-color: #f1f1f1;
$primary-text-color: #ffffff;
$orange-highlight: #f7941d;
$blue-highlight: #73a4f8;
$light-box: #f1f1f1;
$success: #080;
$dark-error: #900;
$light-error: #fdd;
$dark-blue-link: #000099;
$primary-font-family: 'Raleway', sans-serif;
$xxs: 5px;
$xs: 10px;
$s: 15px;
$m: 20px;
$l: 25px;
$xl: 30px;
$xxl: 35px;
$slide: margin 200ms linear;
$aside-border: 1px solid $third-color;
$aside-drop-transition: all 200ms linear !important;

@mixin create-grid($columns, $c-width, $rows, $r-width) {
  position: relative;
  display: grid;
  grid-template-columns: repeat($columns, $c-width);
  grid-template-rows: repeat($rows, $r-width);
}

@mixin display-flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin display-flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@mixin display-flex-column-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin display-flex-column-nowrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-items-center {
  align-items: center;
}

.relative {
    position: relative;
}

@mixin transparent {
  background-color: transparent;
}

%auto-right {
  margin-right: auto !important;
}

.auto-right {
  @extend %auto-right
}

%auto-left {
  margin-left: auto !important;
}

.auto-left {
  @extend %auto-left
}

%none {
  display: none !important;
}

.none {
  @extend %none;
}