.App {
  text-align: center;
}

.transparent {
  background-color: transparent;
}

.relative {
  position: relative;
}

.auto-right {
  margin-right: auto;
}

.auto-left {
  margin-left: auto;
}

.none {
  display: none;
}