@import './variables.scss';

.user-auth-master {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

}

.transparent {
    @include transparent;
}

.user-auth-container-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
}

.user-auth-box {
    width: 90%;
    min-width: 310px;
    width: 310px;
    display: flex;
    flex-direction: column;
    margin: $xs 0;
    margin-bottom: $m;
    color: $primary-text-color;
    font-family: $primary-font-family;
    background-color: $light-box;

    .auth-box-error {
        font-size: 12px;
        background-color: $light-error;
        border: 2px solid $dark-error;
        padding: $xs;
        margin-bottom: $xs;
        text-align: left;
        white-space: nowrap;
        
        span {
            display: inline;
            color: black;
            font-weight: 100;
            margin-left: $xxs;
            white-space: normal;
        }
        
        li {
            width: 100%;
            height: 100%;
            color: $dark-error;
            font-weight: bold;
            display: flex;
        }
    }
    
    .auth-box-header {
        background-color: $fifth-color;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;

        h1 {
            margin-left: $xs;
        }
    }

    .auth-box-content {
        display: flex;
        flex-direction: column;
        padding: 0 $s;
        color: black;
        font-size: 13px;

        span {
            color: $dark-error;
            font-size: 50px;
            position: absolute;
            top: -10px;
            left: -15px;
        }

        h2 {
            display: flex;
            margin-top: $m;
            margin-left: $s;
        }

        input {
            font-size:$s;
            height: $l;
        }

        button {
            background: $secondary-color;
            padding: $xs;
            margin: $s 0;
            color: $primary-text-color;
            font-size: 20px;
        }
        
        a {
            display: flex;
            font-size: 13px;
            margin-bottom: $s;
        }

        p {
            display: flex;
            font-size: 11px;
            margin-bottom: $xs;
            margin-top: $xxs;
        }

        h3 {
            text-align: left;
            margin: $m 0;
        }

        .newsletter-subscribe-gird {
            display: grid;
            grid-template-columns: 38% 12% 38% 12%;
            grid-template-rows: 50px;
            text-align: left;
            
            input {
                width: 18px;
            }
        }

        .user-invalid-input {
            background-color: $light-error !important;
            border: 1px solid $dark-error !important;
        }
    }

    .auth-box-small-input {
        width: 40%;
        margin-bottom: $s;
    }

    .auth-box-smaller-input {
        width: 20%;
        margin-left: $xs;
        margin-bottom: $s;
        height: $m;
        background: white;
    }

    .smaller-boxes-parent {
        display: flex;
        align-items: center;
    }

    .same-line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        input {
            margin-top: $m;
        }
    }
}

@media (min-width: 960px) {
    .user-auth-container-parent {
        margin-top: 40px
    }
}