@import './variables.scss';

.userContainer {
    justify-content: center;
    align-content: center;
    padding: $s;
    color: $primary-text-color;
    font-family: $primary-font-family;
}

.userContainerButton {
    background-color: $third-color;
    width: calc(90% - 4px);
    height: 30px;
    margin: $s;
    color: $primary-text-color;
}

.userContainerInput {
    width: calc(90% - 6px);
    margin-left: 5%;
    margin-bottom: $s;
    height: 30px;
}

.userContainerSmallInput {
    width: calc(40% - 6px);
    margin-left: 5%;
    margin-bottom: $s;
    height: 30px;
}

.userContainerVerySmallInput {
    width: calc(20% - 6px);
    margin-left: 5%;    
    margin-left: $vs;
    margin-bottom: $s;
    height: 20px;
}

.userContainerInputInfo {
    display: flex;
    margin-left: 5%;
    margin-bottom: 3px;
    padding-top: $s;
    color: black;
    font-size: 11px;
}

.userContainerHeaderInfo {
    display: flex;
    padding: $s 5px;
    background-color: $secondary-color;
}

.userContainerContent {
    background-color: $fourth-color;
    display: flex;
    flex-direction: column;
}

.userContainerParent {
    width: 310px;
}