$primary-color: #0b162f;
$primary-text-color: #ffffff;
$secondary-color: #464646;
$third-color: #5b92f4;
$fourth-color: #f1f1f1;
$primary-font-family: Arial, Helvetica, sans-serif;
$vs: 10px;
$s: 15px;

@mixin display-flex-row() {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
